openapi: 3.1.0
info:
  title: CFPB Consumer Complaint Database Aggregations Institutions API
  description: Public REST + JSON API for searching the Consumer Financial Protection Bureau's Consumer Complaint Database (CCDB), a daily-updated record of complaints submitted by consumers about financial products and services and the companies that respond to them. The API powers the public CCDB search experience at consumerfinance.gov/data-research/consumer-complaints and is documented at cfpb.github.io/ccdb5-api.
  version: '1'
  contact:
    name: CFPB Open Tech
    url: https://cfpb.github.io/
  license:
    name: Creative Commons CC0 1.0 Universal
    url: https://creativecommons.org/publicdomain/zero/1.0/
servers:
- url: https://www.consumerfinance.gov/data-research/consumer-complaints/search/api/v1
  description: Production CCDB search API
tags:
- name: Institutions
paths:
  /public/filers/{year}:
    get:
      operationId: listInstitutionsByYear
      summary: List all institutions that filed HMDA data for a year
      tags:
      - Institutions
      parameters:
      - name: year
        in: path
        required: true
        schema:
          type: integer
          minimum: 2018
      responses:
        '200':
          description: List of filers
          content:
            application/json:
              schema:
                type: object
                properties:
                  institutions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Institution'
  /public/institutions/{year}/{lei}:
    get:
      operationId: getInstitution
      summary: Get a single institution by year and LEI
      tags:
      - Institutions
      parameters:
      - name: year
        in: path
        required: true
        schema:
          type: integer
      - name: lei
        in: path
        required: true
        schema:
          type: string
          minLength: 20
          maxLength: 20
      responses:
        '200':
          description: Institution detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
        '404':
          description: Not found
components:
  schemas:
    Institution:
      type: object
      properties:
        lei:
          type: string
          minLength: 20
          maxLength: 20
        activityYear:
          type: integer
        agency:
          type: integer
        institutionType:
          type: string
        institutionId2017:
          type: string
        taxId:
          type: string
        rssd:
          type: integer
        respondent:
          type: object
          properties:
            name:
              type: string
            state:
              type: string
            city:
              type: string
        parent:
          type: object
          properties:
            idRssd:
              type: integer
            name:
              type: string
        assets:
          type: integer
        otherLenderCode:
          type: integer
        topHolder:
          type: object
        hmdaFiler:
          type: boolean
        quarterlyFiler:
          type: boolean
        quarterlyFilerHasFiledQ1:
          type: boolean
        quarterlyFilerHasFiledQ2:
          type: boolean
        quarterlyFilerHasFiledQ3:
          type: boolean
