openapi: 3.1.0
info:
  title: CFPB Consumer Complaint Database Aggregations CSV API
  description: Public REST + JSON API for searching the Consumer Financial Protection Bureau's Consumer Complaint Database (CCDB), a daily-updated record of complaints submitted by consumers about financial products and services and the companies that respond to them. The API powers the public CCDB search experience at consumerfinance.gov/data-research/consumer-complaints and is documented at cfpb.github.io/ccdb5-api.
  version: '1'
  contact:
    name: CFPB Open Tech
    url: https://cfpb.github.io/
  license:
    name: Creative Commons CC0 1.0 Universal
    url: https://creativecommons.org/publicdomain/zero/1.0/
servers:
- url: https://www.consumerfinance.gov/data-research/consumer-complaints/search/api/v1
  description: Production CCDB search API
tags:
- name: CSV
paths:
  /view/nationwide/csv:
    get:
      operationId: getNationwideCsv
      summary: Stream nationwide HMDA records as CSV
      tags:
      - CSV
      parameters:
      - $ref: '#/components/parameters/Years'
      - $ref: '#/components/parameters/Actions'
      responses:
        '200':
          description: CSV stream of HMDA records
          content:
            text/csv: {}
  /view/csv:
    get:
      operationId: getCsv
      summary: Stream HMDA records as CSV by LEI/geography
      tags:
      - CSV
      parameters:
      - $ref: '#/components/parameters/Years'
      - name: leis
        in: query
        schema:
          type: array
          items:
            type: string
      - name: states
        in: query
        schema:
          type: array
          items:
            type: string
      - name: counties
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: CSV stream
          content:
            text/csv: {}
components:
  parameters:
    Actions:
      name: actions_taken
      in: query
      schema:
        type: array
        items:
          type: integer
          minimum: 1
          maximum: 8
    Years:
      name: years
      in: query
      required: true
      schema:
        type: array
        items:
          type: integer
          minimum: 2018
