openapi: 3.2.0
info:
  title: CFPB HMDA Data Browser CSV API
  description: The HMDA Data Browser API exposes Home Mortgage Disclosure Act submission data published by the Consumer Financial Protection Bureau. It supports nationwide and filtered aggregation reports as well as raw CSV downloads for research, fair lending analysis, and public reporting.
  version: '2'
  contact:
    name: HMDA Operations
    url: https://ffiec.cfpb.gov/
servers:
- url: https://ffiec.cfpb.gov/v2/data-browser-api
  description: Production HMDA Data Browser API
tags:
- name: CSV
paths:
  /view/nationwide/csv:
    get:
      operationId: getNationwideCsv
      summary: Stream nationwide HMDA records as CSV
      tags:
      - CSV
      parameters:
      - $ref: '#/components/parameters/Years'
      - $ref: '#/components/parameters/Actions'
      responses:
        '200':
          description: CSV stream of HMDA records
          content:
            text/csv: {}
  /view/csv:
    get:
      operationId: getCsv
      summary: Stream HMDA records as CSV by LEI/geography
      tags:
      - CSV
      parameters:
      - $ref: '#/components/parameters/Years'
      - name: leis
        in: query
        schema:
          type: array
          items:
            type: string
      - name: states
        in: query
        schema:
          type: array
          items:
            type: string
      - name: counties
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: CSV stream
          content:
            text/csv: {}
components:
  parameters:
    Years:
      name: years
      in: query
      required: true
      schema:
        type: array
        items:
          type: integer
          minimum: 2018
    Actions:
      name: actions_taken
      in: query
      schema:
        type: array
        items:
          type: integer
          minimum: 1
          maximum: 8
